body {
    font-family: Calibri;
    font-size: 15px;
    margin: 30px;
}

.content {
    position: relative;
}

.game-over {
    display: none;
    margin: 0 auto;
    width: 900px;
    text-align: center;
    color: #f44336;
    font-size: 21px;
    font-weight: bold;
}

.level{
    margin: 0 auto;
    width: 900px;
    text-align: center;
    color: #f44336;
    font-size: 21px;
    font-weight: bold;
}

#field {
    width: 900px;
    margin: 0 auto;
}

.field-line {
    height: 75px;
    background-color: #4caf50;
    position: relative;
}

.buttons {
    width: 900px;
    margin: 0 auto;
    margin-top: 5px;
}

.button {
    position: relative;
    display: inline-block;
    border: 1px solid #eee;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
}

#btnGenerate, #btnExplode, #btnGrow, #btnSlow, #btnPause, #btnLevelUp {
    background-color: #ff9800;
}

.button.disabled {
    cursor: default;
    background-color: grey !important;
}

.zombie {
    position: absolute;
    top: 0;
    right: 0;
}

.zombie.michael {
    width: 46px;
    height: 69px;
    background-image: url(../img/michael.gif);
    background-size: cover;
}

.zombie.strong {
    width: 60px;
    height: 73px;
    background-image: url(../img/strong.gif);
    background-size: cover;
}

div.health-line {
    background-color: red;
    margin: 0 0 0 0;
    width: 50px;
    position: relative;
}

p.health-line {
    position: absolute;
    top: 0;
    left: 28%;
    margin: 0 auto;
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 10px;
}

.health-status {
    background-color: darkgreen;
    height: 10px;
}

.btn-status {
    background-color: #4caf50;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.5;
}

.btn-status.stopped{
    background-color: red;
}

.button > p {
    margin: 0 auto;
    line-height: 1.2em;
    z-index: 3;
}