.menu{
    width: 100%;
    overflow: auto;
    margin-bottom: 5px;
}

.button{
    width: 150px;
    height: 30px;
    border: 1px solid darkgreen;
    text-align: center;
    font: normal 18px Tahoma;
    line-height: 26px;
    float: right;
    cursor: pointer;
}
.button.start{
    color: white;
    background-color: green;
}
.button.stop{
    color: darkgreen;
    background-color: goldenrod;
}

.wrapper{
    width: 900px;
    border: 1px solid grey;
    margin: 0 auto;
    display: flex;
}

.column{
    margin: 3px;
    width: 110px;
    position: relative;
}

.column.left{
    float: left;
}
.column.right{
    float: right;
}

.game-panel{
    width: 660px;
    height: 500px;
    border: 1px solid grey;
    margin: 3px;
    position: relative;
}

.resource{
    width: 100%;
    height: 110px;
    position: absolute;
}
.resource.cheese,
.resource.cherry{
    top: 0;
}
.resource.orange,
.resource.pumpkin{
    bottom: 0;
}

.score{
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

.logo{
    margin: 0 auto;
    width: 64px;
    height: 64px;
}
.logo.cheese{
    background-image: url("img/cheese.png");
}
.logo.cherry{
    background-image: url("img/cherry.png");
}
.logo.orange{
    background-image: url("img/orange.png");
}
.logo.pumpkin{
    background-image: url("img/pumpkin.png");
}
.logo.play{
    margin: 0;
    position: absolute;
}